.archive-page
  max-width: 830px
  margin: auto
  padding: 0 ($gutter-width / 2)

  h1
    font-size: $font-size-base * 2
    font-weight: $font-weight-regular
  
  h2
    font-size: $font-size-base * 1.5
    font-weight: $font-weight-regular