.contact-card
  text-align: center

.contact-card__avatar
  width: 160px
  height: 160px
  margin: ($gutter-width / 2) auto 0
  border-radius: 50%
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

  > img 
    width: 100%

.contact-card__contact-name
  margin-top: ($gutter-width / 2)

  font-size: 28px
  font-weight: $font-weight-regular

.contact-card__contact-status
  margin-top: ($vertical-spacing * 2)

.contact-card__social
  margin-top: ($vertical-spacing * 4)

.contact-card__social__item
  display: inline-block
  height: 30px
  width: 30px
  border-radius: 50%

  > a
    justify-content: center
    align-items: center

    display: flex
    height: 100%
    width: 100%

    > img 
      height: 15px